* {
  margin: 0;
  padding: 0;
}

.center {
  display: flex;
  justify-content: center;
}

.center-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: auto;
}
.center-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

input[type="text"]::first-letter {
  text-transform: uppercase;
}
/////////////////////////////////////////////////////
body {
  #bg-video {
    position: fixed;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .nav {
    max-width: 1200px;
    margin: auto;
    h1 {
      color: #0d6efd;
    }
  }

  main {
    padding: 30px;
    background: rgba(80, 80, 80, 0.75);
    max-width: 1200px;
    margin: auto;

    .btns3 {
      display: flex;
      flex-wrap: wrap;
      margin-top: 5px;
      gap: 10px;
      button {
        margin: 0 5px;
      }
    }
    .addBookInputs {
      display: none;
      flex-wrap: wrap;
      align-content: center;
      align-items: flex-end;
      margin: 10px 0;

      button {
        margin-top: 7px;
      }
    }
    .searchKeyBtn {
      margin: 8px 8px;
    }
  }
  .card {
    transition: 0.5s;
  }

  .card:hover {
    transform: scale(1.05);
  }
  .bookshelf {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    margin-top: 25px;
    justify-content: center;
    gap: 30px;

    .card-body {
      height: 88px;
      max-height: 300px;
    }

    img {
      object-fit: cover;
      height: 62%;
    }

    .card-body-footer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      h5 {
        margin-top: 0.5rem;
      }
      button {
        max-height: 40px;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  main {
    background: rgb(80, 80, 80) !important;
  }

  .card {
    width: 17rem !important;
    max-height: 540px;
    img {
      height: 45% !important;
      object-fit: cover !important;
    }
  }
}

@media screen and (max-width: 650px) {
  .addBookInputs {
    align-items: center !important;
  }

  .bookInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
